.editor {
  padding: 20px;
  border: 1px solid #ccc;
  min-height: 400px;
  position: relative;

  &__button {
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: deepskyblue;
    }

    &:active {
      background-color: dodgerblue;
    }
  }
}
